{% extends 'layout.html' %}

{% block title %}
    <title>afficher les consommation</title>
{% endblock %}

{% block body %}
<h3>Types de consommations</h3>
<a class="btn btn-primary" href="/consomme/add">Ajouter une consommation</a>
<br><br>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Identifiant de la Consommation</th><th>Numéro de Mois</th><th>Quantité(s)</th><th>Type de Charge</th><th>Numéro de l'Immeuble</th><td>Modification</td>
        </tr>
    </thead>
    <tbody>
    {% if consomme | length >= 1 %}
        {% for ligne in consomme %}
           <tr>
                  <td>{{ ligne.id_consommation }}</td>
                  <td>{{ ligne.numMois }}</td>
                  <td>{{ ligne.quantite }}</td>
                  <td>{{ ligne.LibellerTypeCharge }}</td>
                  <td>{{ ligne.NumImmeuble }} ({{ ligne.Adresse }})</td>
                  <td>
                      <a class="btn btn-success" href="/consomme/edit?id={{ ligne.id_consommation }}&amp;param2={{ligne.libelle}}">Editer</a>&nbsp;
                      <a class="btn btn-danger" href="/consomme/delete?id={{ ligne.id_consommation }}" >Supprimer</a>
                  </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      Il y a aucune consommation enregistrer. Vous pouvez dès à présent en ajouter une en cliquant sur le bouton "Ajouter une consommation".
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}