{% extends 'layout.html' %}

{% block title %}
    <title>afficher les consommation</title>
{% endblock %}

{% block body %}
<h3>Types de consomation</h3>
<a class="btn btn-primary" href="/consomme/add">Ajouter un type de consommation</a>
<br><br>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>id_consommation</th><th>numMois</th><th>quantite</th><th>IdCharge</th><th>NumImmeuble</th>
        </tr>
    </thead>
    <tbody>
    {% if consomme | length >= 1 %}
        {% for ligne in consomme %}
           <tr>
                  <td>{{ ligne.id_consommation }}</td>
                  <td>{{ ligne.numMois }}</td>
                  <td>{{ ligne.quantite }}</td>
                  <td>{{ ligne.IdCharge }}</td>
                  <td>{{ ligne.NumImmeuble }}</td>
                  <td>
                      <a class="btn btn-success" href="/typeEpoque/edit?id={{ ligne.id }}&amp;param2={{ligne.libelle}}">Editer</a>&nbsp;
                      <a class="btn btn-danger" href="/typeEpoque/delete?id={{ ligne.id }}" >Supprimer</a>
                  </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      Pas de cosommation
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}