<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">SAE 04</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lucas BESSON
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/consomme/show">Afficher les consommations</a></li>
            <li><a class="dropdown-item" href="/consomme/add">Créer une consommation</a></li>
            <li><a class="dropdown-item" href="/consomme/etat">Etat des consommations</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            BERKROUBER Benjamin
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/amenagement/show">Afficher</a></li>
            <li><a class="dropdown-item" href="/amenagement/add">Créer</a></li>
            <li><a class="dropdown-item" href="#">Etat (Non réalisé)</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            LADEL Amine
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/appartement/show">Affiche les appartements</a></li>
            <li><a class="dropdown-item" href="/appartement/add">Créer un appartement</a></li>
            <li><a class="dropdown-item" href="">Etat (Non réalisé) </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            MARECHAL Nathan
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/contrat/show">Afficher les contrats </a></li>
            <li><a class="dropdown-item" href="/contrat/add">Créer un contrat </a></li>
            <li><a class="dropdown-item" href="">Etat (Non réalisé) </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PETERSCHMITT Mathieu
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/immeuble/show">Afficher les immeubles</a></li>
            <li><a class="dropdown-item" href="/immeuble/add">Créer un immeuble </a></li>
            <li><a class="dropdown-item" href="/immeuble/etat">Etats des immeubles</a></li>
          </ul>
        </li>


      </ul>
    </div>
  </div>
</nav>
